<div id="carouselOr" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item sl-1 active">
            <div class="container">
                <div class="carousel-caption">
                    <p class="dest_2"><span>Venha conferir agora!</span></p>
                    <h3>2ª fase do Verano</h3>                    
                    <!-- <p class="sub-t">Venha conferir agora!</p>
                    <p class="dest"><span>Novo lançamento da OR na Reserva do Paiva</span></p> -->
                    <a href="verano.html" title="Tenho interesse neste Empreendimento" class="btn btn-default line">Tenho interesse neste Empreendimento</a>
                    <div class="info">97m²  | 3 suítes</div>
                </div>
                <a href="https://www.youtube.com/watch?v=CqOdKZU3eDM" data-lity rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">                
                    <img src="images/image-modal-slider.webp" class="" alt="">
                </a>
            </div>
        </div>                
    </div>      
</div>