<section class="cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xs-12 col-md-8">
                <div class="title-or-content">
                    <div class="title-style-or">
                        <h3>Seletividade, sustentabilidade </br>e diferenciação</h3>
                        <p>Cada empreendimento é único, cada cliente é exclusivo.</p>
                    </div>                    
                </div>    
            </div>
            <div class="col-xs-12 col-auto action">
                <a href="" target="_blank" title="Saiba mais sobre a OR" class="btn btn-default white">Saiba mais sobre a OR</a>
            </div>
        </div>
    </div>
</section>
