<section class="disclaimer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>O Memorial Descritivo deste empreendimento constante do Memorial de Incorporação registrado sob o Registro de Incorporação nº 18.413, Protocolo 1-B, fls. 156, em 17.12.07, no Cartório de 1º- Ofício do Cabo de Santo Agostinho/PE, contém os itens a serem efetivamente entregues nas unidades autônomas e áreas comuns, sendo parte integrante do contrato de compra e venda e encontra-se à disposição para consulta no estande de vendas. Todas as imagens e perspectivas apresentadas constantes das plantas humanizadas, dos catálogos, das perspectivas de divulgação e de todas as demais peças publicitárias deste empreendimento, seja referente à área comum, seja referente às unidades autônomas, são meramente ilustrativas. As benfeitorias e mobiliário apresentados são apenas sugestões de decoração e ambientações, tais como: acabamentos, bancadas, móveis, equipamentos, utensílios e demais objetos, assim como forro, luminárias, pisos, rodapés, molduras e revestimentos. As plantas arquitetônicas podem sofrer alterações, sem prévio aviso, em virtude de necessidades, por determinação ou exigência dos Poderes Públicos, especialmente, mas não se limitando ao Corpo de Bombeiros, Secretarias ou órgãos ambientais, órgãos de defesa do consumidor, de empresas concessionárias de serviços públicos, ou melhorias de técnicas e projetos. O adquirente estará sujeito às regras condominiais. Mapa ilustrativo de localização sem escala. O paisagismo será entregue conforme especificado no projeto executivo, sendo suas imagens a representação da fase adulta das espécies. Os revestimentos apresentados nas ilustrações artísticas são apenas de caráter referencial e poderão sofrer variação de cor, textura, formato e dimensão. A lagoa e o parque em seu entorno situam-se em área pública e sua implementação está condicionada à aprovação, execução e manutenção pelo poder público municipal competente. A incorporadora não garante vista a partir de todas as áreas comuns do empreendimento e unidades autônomas, para os referidos equipamentos públicos.</p>

                <p>Os direitos autorais são protegidos por sua legislação própria sendo vedada sua reprodução, divulgação e utilização sem a devida autorização. Incorporadora responsável: Verano e Paradiso Empreendimento Imobiliário Ltda., inscrita no CNPJ/MF sob nº 10.203.034/0001-37, com sede na Av. A s/no. Quadra F1 lote 4A2, Praia do Paiva, cidade do Cabo de Santo Agostinho-PE. Realização: Odebrecht Realizações Imobiliárias e Participações S.A, com filial inscrita no CNPJ/MF sob nº 10.917.143/0006-20, Rua Antonio Lumack do Monte, nº 128, Loja 2 Edifício Empresarial Center III, Boa Viagem, CEP 51020-350, Recife, Pernambuco. Projeto arquitetônico: Daniel de Barros Gusmão (Arquiteto/CAU-RJ nº175421/D). Responsáveis técnicos: André de Melo Bastos (Engenheiro Civil/Crea-BA nº 23.108) e Luis Henrique Valverde (Engenheiro Civil/Crea-PE nº 37.833).</p>
            </div>
        </div>
    </div>
</section>