<section class="documentos">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <hr>
                <div class="title-sections">
                    <h3 class="title">Documentos</h3>
                    <div class="sub"><span>Baixe aqui os documentos dos empreendimentos</span></div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 grid-documentos">
                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Regulamento Realiza OR</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Acqua Marine</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Associação Reserva do Paiva</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Jardim Mar</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Morada da Península</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Novo Mundo</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Paradiso</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Terraço Laguna</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Varanda Parque</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Verano</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Vila dos Corais</h3>
                </a>

                <a href="" class="card-doc-or" target="_blank" title="">
                    <h3 class="title">Campanha Melhores</h3>
                </a>
            </div>
        </div>
    </div>
</section>
