<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<img src="images/or-logo.webp" alt="OR o seu espaço inspirado em você" class="img-fluid logo">
				<p class="desc-logo">SELETIVIDADE, SUSTENTABILIDADE E DIFERENCIAÇÃO</p>
			</div>	
			<div class="col-sm-12 col-md-2">
				<nav class="nav-footer">
					<div class="head-nav mt-0">&nbsp;</div>
					<ul>
						<li><a href="index.html" title="Home">Home</a></li>
						<li><a href="" title="A OR">A OR</a></li>
						<li><a href="o-bairro.html" title="O Bairro">O Bairro</a></li>
						<li><a href="fale-conosco.html" title="Fale Conosco">Fale Conosco</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-12 col-md-2">
				<nav class="nav-footer">
					<div class="head-nav">Para Morar</div>
					<ul>
						<li><a href="verano.html" title="Verano">Verano</a></li>
						<li><a href="paradiso.html" title="Paradiso">Paradiso</a></li>
						<li><a href="varanda-parque.html" title="Varanda Parque">Varanda Parque</a></li>
						<li><a href="jardim-mar.html" title="Jardim do Mar">Jardim do Mar</a></li>
						<li><a href="terraco-laguna.html" title="Terraço Laguna">Terraço Laguna</a></li>
						<li><a href="vila-dos-corais.html" title="Vila dos Corais">Vila dos Corais</a></li>
						<li><a href="morada-peninsula.html" title="Morada Península">Morada Península</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-12 col-md-2">
				<nav class="nav-footer">
					<div class="head-nav">Para Viver</div>
					<ul>
						<li><a href="para-viver.html" title="Parque da Lagoa">Parque da Lagoa</a></li>
						<li><a href="para-viver.html" title="Parque do Paiva">Parque do Paiva</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-12 col-md-3">
				<nav class="nav-footer social">
					<div class="head-nav">Siga a gente nas nossas redes sociais</div>
					<ul>
						<li>
							<a href="https://www.youtube.com/orcomvoce" title="Youtube" target="_blank">
								<img src="images/youtube-icon.svg" alt="youtube" class="img-fluid icon-nav">
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/orcomvoce" title="Facebook" target="_blank">
								<img src="images/facebook-icon.svg" alt="youtube" class="img-fluid icon-nav">
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/orcomvoce/" title="Instagram" target="_blank">
								<img src="images/instagram-icon.svg" alt="instagram" class="img-fluid icon-nav">
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/orcomvoce/" title="Linkedin" target="_blank">
								<img src="images/linkedin-icon.svg" alt="linkedin" class="img-fluid icon-nav">
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="copy">
					Copyright © 2021 - OR - Todos os direitos reservados.
				</p>
			</div>
		</div>
	</div>
</footer>