<div class="jumbotron jumbotron-fluid paiva">
    <div class="container">
      <h1 class="title">Fale conosco</h1>      
    </div>
</div>

<section class="fale-conosco">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="title-sections">
                    <h3 class="title">Entre em contato</h3>
                    <div class="sub"><span>Preencha o formulário que em breve retornamos seu contato</span></div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-5 mr-auto">
                <div id="resposta"></div>

                <div id="formulario">
                    <form role="form" id="contactForm" class="contact-form shake" data-toggle="validator" action="">
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-12">
                                <label for="nome">Nome</label>
                                <input type="text" id="nome" name="nome" class="form-control" required>
                                <div class="help-block with-erros"></div>
                            </div>
                        </div>    
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-12">
                                <label for="email">E-mail</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                                <div class="help-block with-erros"></div>
                            </div>
                        </div> 
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="tel">Telefone</label>
                                <input type="text" id="tel" name="tel" class="mask form-control" required>
                                <div class="help-block with-erros"></div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="wts">WhatsApp</label>
                                <input type="text" id="wts" name="wts" class="mask form-control" required>
                                <div class="help-block with-erros"></div>
                            </div>
                        </div>    
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-12">
                                <label for="assunto">Assunto</label>
                                <input type="text" id="assunto" name="assunto" class="form-control" required>
                                <div class="help-block with-erros"></div>
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-12">
                                <label for="mensagem">Mensagem</label>
                                <textarea name="mensagem" id="mensagem" rows="4" class="form-control" required></textarea>
                                <div class="help-block with-erros"></div>
                            </div>
                        </div>

                        <div class="row mt-3 mb-3">
                            <div class="col-sm-12 text-right">
                                <button type="submit" id="submit" class="btn btn-default">Saiba mais sobre a OR</button>
                            </div>
                        </div>

                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6">
                <div class="mapa-or">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31587.426527168544!2d-34.96267983108452!3d-8.2600935696097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7aae67bdf63013f%3A0xa2e73c5e4d2f5178!2sPraia%20do%20Paiva!5e0!3m2!1spt-BR!2sbr!4v1635052143229!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contatos mb-4">
                    <div class="chanel">
						<div class="icon">
							<img src="images/tel-icon.svg" class="img-fluif" alt="Fale conosco">
						</div>
						<div class="info">
							<p>Espaço de vendas</p>
							<a href="tel:+558130870000" target="_blank" title="espaço de vendas ligue para 81 3087.0000">81 3087.0000</a>	
						</div>
					</div>
					<div class="chanel">
						<div class="icon">
							<img src="images/call-icon.svg" class="img-fluif" alt="Ligamos para você">
						</div>
						<div class="info">
							<p>Ligamos para</p>
							<span>VOCÊ</span>
						</div>
					</div>
                </div>
                <p>contato@preservadopaiva.com.br</p>
                <p>A proteção de seus dados é nossa prioridade. Utilizaremos suas informações para tirar suas dúvidas e mantê-lo(a) atualizado(a) sobre os novos lançamentos da OR.</p>

                <p>Para obter mais informações sobre como trataremos os seus dados acesse nossa Politica de Privacidade</p>

                <p>Ao informar seus dados, você concorda com a Política de Privacidade.</p>

            </div>
        </div>
    </div>
</section>