<section class="geleria">
    <div class="containe-fluidr">
        <div class="gal mt-0">
            
            <div class="row g-0">            
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/verano-12.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/verano-tb-12.webp" alt="imagem" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="col-mob">
                        <div class="met">
                            <a href="images/verano-13.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/verano-tb-13.webp" alt="imagem" class="img-fluid">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/verano-14.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/verano-tb-14.webp" alt="imagem" class="img-fluid">
                            </a>
                        </div> 
                    </div>
                </div>
                
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/verano-15.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/verano-tb-15.webp" alt="imagem" class="img-fluid">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="met">
                        <a href="images/verano-16.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/verano-tb-16.webp" alt="imagem" class="img-fluid">
                        </a>
                    </div>
                    <div class="d-flex">
                        <div class="met">
                            <a href="images/verano-17.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/verano-tb-17.webp" alt="imagem" class="img-fluid">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/verano-18.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/verano-tb-18.webp" alt="imagem" class="img-fluid">
                            </a>
                        </div> 
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/verano-19.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/verano-tb-19.webp" alt="imagem" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/verano-20.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/verano-tb-20.webp" alt="imagem" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-md-auto col-sm-12 p-0">
                    <div class="col-mob">
                        <div class="met">
                            <a href="images/verano-21.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/verano-tb-21.webp" alt="imagem" class="img-fluid">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/verano-22.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/verano-tb-22.webp" alt="imagem" class="img-fluid">
                            </a>
                        </div>
                    </div> 
                </div>
                
            </div>    
        </div>
    </div>
</section>