<section class="geleria">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Galeria de Imagens</h4>
            </div>
        </div>
    </div>

    <div class="containe-fluidr">
        <div class="gal">
            
            <div class="row g-0">            
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/bairro-01.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/bairro-tb-01.webp" alt="imagem" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="col-mob">
                        <div class="met">
                            <a href="images/bairro-02.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/bairro-tb-02.webp" alt="imagem">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/bairro-03.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                                <img src="images/bairro-tb-03.webp" alt="imagem">
                            </a>
                        </div> 
                    </div>
                </div>
                
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/bairro-04.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                            <img src="images/bairro-tb-04.webp" alt="imagem">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="met">
                        <a href="images/bairro-05.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                            <img src="images/bairro-tb-05.webp" alt="imagem">
                        </a>
                    </div>
                    <div class="d-flex">
                        <div class="met">
                            <a href="images/bairro-06.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                                <img src="images/bairro-tb-06.webp" alt="imagem">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/bairro-07.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                                <img src="images/bairro-tb-07.webp" alt="imagem">
                            </a>
                        </div> 
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/bairro-08.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                            <img src="images/bairro-tb-08.webp" alt="imagem">
                        </a>
                    </div>
                </div>

                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/bairro-09.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                            <img src="images/bairro-tb-09.webp" alt="imagem">
                        </a>
                    </div>
                </div>

                <div class="col-md-auto col-sm-12 p-0">
                    <div class="col-mob">
                        <div class="met">
                            <a href="images/bairro-10.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                                <img src="images/bairro-tb-10.webp" alt="imagem">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/bairro-11.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">
                                <img src="images/bairro-tb-11.webp" alt="imagem">
                            </a>
                        </div>
                    </div> 
                </div>
                
            </div>    
        </div>
    </div>
</section>


