<section class="geleria">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Galeria de Imagens</h4>
            </div>
        </div>
    </div>

    <div class="containe-fluidr">
        <div class="gal">
            
            <div class="row g-0">            
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/zoom-area-comum-spa.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/zoom-area-comum-spa.webp" alt="imagem">
                        </a>
                    </div>
                </div>
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="col-mob">
                        <div class="met">
                            <a href="images/zoom-area-comum-academia-livre-800x800.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/zoom-area-comum-academia-livre-800x800.webp" alt="imagem">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/zoom-area-comum-academia-livre-800x800.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/zoom-area-comum-academia-livre-800x800.webp" alt="imagem">
                            </a>
                        </div> 
                    </div>
                </div>
                
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/zoom-area-comum-espaco-gourmet.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/zoom-area-comum-espaco-gourmet.webp" alt="imagem">
                        </a>
                    </div>
                </div>
                
                <div class="col-md-auto col-sm-12 p-0">
                    <div class="met">
                        <a href="images/zoom-area-comum-brinquedoteca-1536x1024.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/zoom-area-comum-brinquedoteca-1536x1024.webp" alt="imagem">
                        </a>
                    </div>
                    <div class="d-flex">
                        <div class="met">
                            <a href="images/zoom-area-comum-academia-livre-800x800.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/zoom-area-comum-academia-livre-800x800.webp" alt="imagem">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/zoom-area-comum-academia-livre-800x800.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/zoom-area-comum-academia-livre-800x800.webp" alt="imagem">
                            </a>
                        </div> 
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/zoom-area-comum-piscina.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/zoom-area-comum-piscina.webp" alt="imagem">
                        </a>
                    </div>
                </div>

                <div class="col-md-auto col-sm-12 p-0">
                    <div class="img-col">
                        <a href="images/zoom-area-comum-spa.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                            <img src="images/zoom-area-comum-spa.webp" alt="imagem">
                        </a>
                    </div>
                </div>

                <div class="col-md-auto col-sm-12 p-0">
                    <div class="col-mob">
                        <div class="met">
                            <a href="images/zoom-area-comum-academia-livre-800x800.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/zoom-area-comum-academia-livre-800x800.webp" alt="imagem">
                            </a>
                        </div>
                        <div class="met">
                            <a href="images/zoom-area-comum-academia-livre-800x800.webp" data-lightbox="example-1" rel="lightvideo" title="" class="">      
                                <img src="images/zoom-area-comum-academia-livre-800x800.webp" alt="imagem">
                            </a>
                        </div>
                    </div> 
                </div>
                
            </div>    
        </div>
    </div>
</section>


