<header class="header-default">
	<section class="contact-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 d-flex">
					<div class="chanel">
						<div class="icon">
							<img src="images/tel-icon.svg" class="img-fluif" alt="Fale conosco">
						</div>
						<div class="info">
							<p>Espaço de vendas</p>
							<a href="tel:+558130870000" target="_blank" title="espaço de vendas ligue para 81 3087.0000">81 3087.0000</a>	
						</div>
					</div>
					<div class="chanel">
						<div class="icon">
							<img src="images/call-icon.svg" class="img-fluif" alt="Ligamos para você">
						</div>
						<div class="info">
							<p>Ligamos para</p>
							<span>VOCÊ</span>
						</div>
					</div>
				</div>
				<div class="col-auto ml-auto">
					<nav class="social-header">
						<ul>
							<li>
								<a href="https://www.youtube.com/orcomvoce" title="Youtube" target="_blank">
									<img src="images/youtube-icon.svg" alt="youtube" class="img-fluid icon-nav">
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/orcomvoce" title="Facebook" target="_blank">
									<img src="images/facebook-icon.svg" alt="youtube" class="img-fluid icon-nav">
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/orcomvoce/" title="Instagram" target="_blank">
									<img src="images/instagram-icon.svg" alt="instagram" class="img-fluid icon-nav">
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/orcomvoce/" title="Linkedin" target="_blank">
									<img src="images/linkedin-icon.svg" alt="linkedin" class="img-fluid icon-nav">
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top navbarClient">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<img src="images/or-logo.webp" alt="OR Seus espaço inspirado em você" class="img-fluid logo-white">
				<img src="images/logo-color-or@2x.webp" alt="OR Seus espaço inspirado em você" class="img-fluid logo-color">
				
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOr" aria-controls="navbarOr" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
	  
			<div class="collapse navbar-collapse" id="navbarOr">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#" title="A OR">A OR</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="o-bairro.html" title="O Bairro">O Bairro</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarMorar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Para Morar
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarMorar">
						  <a href="verano.html" class="dropdown-item" title="Verano">Verano</a>
						  <a href="paradiso.html" class="dropdown-item" title="Paradiso">Paradiso</a>
						  <a href="varanda-parque.html" class="dropdown-item" title="Varanda Parque">Varanda Parque</a>
						  <a href="jardim-mar.html" class="dropdown-item" title="Jardim do Mar">Jardim do Mar</a>
						  <a href="terraco-laguna.html" class="dropdown-item" title="Terraço Laguna">Terraço Laguna</a>
						  <a href="vila-dos-corais.html" class="dropdown-item" title="Vila dos Corais">Vila dos Corais</a>
						  <a href="morada-peninsula.html" class="dropdown-item" title="Morada Península">Morada Península</a>
						</div>
					  </li>
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarViver" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Para Viver
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarViver">
							<a href="para-viver.html#parque-lagoa" class="dropdown-item" title="Parque da Lagoa">Parque da Lagoa</a>
							<a href="para-viver.html#parque-paiva" class="dropdown-item" title="Parque do Paiva">Parque do Paiva</a>
							<a href="para-viver.html#emporio" class="dropdown-item" title="Empório Gourmet">Empório Gourmet</a>
							<a href="para-viver.html#colegio" class="dropdown-item" title="Colégio Santa Maria">Colégio Santa Maria</a>
						</div>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="fale-conosco.html" title="Fale Conosco">Fale Conosco</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="documentos.html" title="Documentor">
							<img src="images/docs-icon.svg" alt="documentos" class="img-fluid svg-image">
						</a>
					  </li>
				</ul>

				<div class="chanel-mobile">
					<div class="icon">
						<img src="images/tel-icon.svg" class="img-fluif" alt="Fale conosco">
					</div>
					<div class="info">
						<p>Espaço de vendas</p>
						<a href="tel:+558130870000" target="_blank" title="espaço de vendas ligue para 81 3087.0000">81 3087.0000</a>	
					</div>
				</div>

			</div>
		</div>	
	</nav>
</header>	