<section class="historia-or">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 m-auto text-center ">
                <img src="images/or-75-anos.webp" alt="75 anos de história" class="img-fluid">
                <a href="" title="Saiba mais sobre a OR" class="btn btn-default mt-5">Saiba mais sobre a OR</a>
            </div>
        </div>
    </div>
</section>
