<section class="mais-or">
    <div class="container-fluid">
        <div class="row align-items-center">            
            <div class="col-sm-12 col-md-4 ml-auto mr-auto text-justify">
                <div class="title-sections">
                    <h3 class="title">uma nova realidade</h3>
                    <div class="sub"><span>Já espera por você</span></div>
                </div>
                <p>Com presença em quatro estados brasileiros, a OR atua na construção e incorporação de empreendimentos residenciais, comerciais, corporativos e loteamentos, se diferenciando pela entrega de projetos inovadores, com qualidade reconhecida pelo mercado e que acima de tudo, são inspirados no desejo do cliente.</p>
 
                <p>Ao entregar um empreendimento, temos também o compromisso com a transformação do seu entorno, contribuindo para o desenvolvimento das cidades e das comunidades em que estamos inseridos.</p>

                <p>A OR faz parte da Novonor, grupo de origem brasileira com mais de 75 anos de trajetória, que por meio de seus Negócios, realiza importantes contribuições para o desenvolvimento do Brasil e dos 13 países onde atua. </p> 
 
                <div class="actions">
                    <h3 class="title">Acesse e conheça mais:</h3>
                    <a href="https://www.or.com.br/" target="_blank" class="btn btn-default" title="acesse e conheça - www.or.com.br">www.or.com.br</a>
                </div>
            </div>            
            <div class="col-sm-12 col-md-6 col-lg-6 p-0">                
                <img src="images/or-sede-sp.webp" alt="nova or" class="w-100">
            </div>
        </div>
    </div>
</section>