<section class="mundo-conectato">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-auto col-lg-6 p-0">
                <img src="images/or-mundo-conectado.webp" alt="um mundo conectado" class="w-100">
            </div>
            <div class="col-auto"></div>
            <div class="col-sm-12 col-md-5 text-justify">
                <div class="title-sections">
                    <h3 class="title">Um mundo conectado</h3>
                    <div class="sub"><span>Com o desenvolvimento de pernambuco</span></div>
                </div>
                <p>Projetado pelo arquiteto Carlos Fernando Pontual, o complexo multiuso Novo Mundo Empresarial proporciona o mais alto nível de tecnologia, sustentabilidade, segurança e conforto, pois, foi projetado para reunir estrutura completa para escritórios e serviços, incluindo um open mall.</p>
                
                <div class="actions">
                    <a href="" class="btn btn-default" title="Saiba mais sobre o empreendimento">Saiba mais sobre o empreendimento</a>
                </div>
            </div>
        </div>
    </div>
</section>