<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div id="resposta"></div>

                <div class="content">
                    <div class="news-title">
                        <p>Inscreva-se e fique por dentro de todas as novidades da OR na Reserva do Paiva.</p>
                    </div>
                    <div id="formulario">
                        <form role="form" id="newsForm" class="news-form shake" data-toggle="validator" action="">
                            <div class="input-group mb-2 mr-sm-2">
                                <input type="email" class="email_news form-control" id="email_news" name="email_news" placeholder="Insira seu E-mail" required>
                                <div class="input-group-prepend">
                                    <button type="submit" id="submit" class="btn btn-default w-100"></i>Enviar</button>
                                </div>                    
                                <div class="help-block with-erros"></div>
                            </div>                
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>