<div class="jumbotron jumbotron-fluid paiva">
    <div class="container">
      <h1 class="title">O Bairro</h1>      
    </div>
</div>

<section class="reserva-carousel v2">
    <div class="container-fluid">
        <div class="row align-items-center">          
            <div class="col-1"></div>
            <div class="col-sm-12 col-md-4 col-lg-4 text-justify">
                <div class="title-sections">
                    <h3 class="title">A reserva do paiva</h3>
                    <div class="sub"><span>Aqui seu sonho é possível.</span></div>
                </div>
                <p>A OR escolheu Pernambuco para fazer, na época, em 2008, o maior investimento da empresa no Brasil: um bairro 100% planejado no litoral sul de Pernambuco. A Reserva do Paiva, localizada no Cabo de Santo Agostinho foi um marco de planejamento urbano na Região Metropolitana do Recife, com completa infraestrutura para moradia, lazer, trabalho e turismo, voltado para o público local com padrão internacional e com masterplan desenvolvido em parceria com os grupos Cornélio e Ricardo Brennand, proprietários da área.</p>

                <p>O empreendimento é integrado ao cenário natural exuberante da Praia do Paiva, em uma área de 526 hectares, com uma faixa de 8,6 km de praias, 5 km de rio, cercada por mais de 500 hectares de mata preservada.</p>
            </div>
          
            <div class="col-sm-12 col-md-6 col-lg-6 p-0 ml-auto mb-4">
                <div class="owl-carousel owl-theme">
                    <div>
                        <a href="para-viver.html#parque-lagoa" class="link-slider" title="Parque da Lagoa">
                            <div class="card">
                                <div class="text">
                                    <h3 class="title">Parque</br>da lagoa</h3>
                                    <div class="sub">Aberto ao público</div>
                                </div>
                                <div class="imagem">
                                    <img src="images/or-park-slider.webp" alt="parque da lagoa" class="img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="para-viver.html" class="link-slider" title="Open Mall Paiva">
                            <div class="card">
                                <div class="text">
                                    <h3 class="title">Open</br>Mall</h3>
                                    <div class="sub">Em funcionamento</div>
                                </div>
                                <div class="imagem">
                                    <img src="images/or-open-mall-slider.webp" alt="open mall" class="img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="para-viver.html#emporio" class="link-slider" title="Empório Gourmet">
                            <div class="card">
                                <div class="text">
                                    <h3 class="title">Empório</br>Gourmet</h3>
                                    <div class="sub">Em funcionamento</div>
                                </div>
                                <div class="imagem">
                                    <img src="images/or-emporio-slider.webp" alt="empório gourmet" class="img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="para-viver.html#colegio" class="link-slider" title="Colégio Santa Maria">
                            <div class="card">
                                <div class="text">
                                    <h3 class="title">Colégio</br>Santa Maria</h3>
                                    <div class="sub">Em funcionamento</div>
                                </div>
                                <div class="imagem">
                                    <img src="images/colegio-santa-maria-slider.webp" alt="colegio santa maria" class="img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-sm-12 col-md-10 col-lg-10 text-justify">
                <p>Além dos sete empreendimentos residenciais, do hotel e do Novo Mundo Empresarial, a OR também construiu dois grandes parques públicos que integram as torres residenciais e suas áreas de lazer ao verde e equipamentos dos parques, o Parque da Lagoa e o Parque do Paiva. </p>
                <p>Além das opções de moradia, que se diferenciam no mercado imobiliário pela qualidade construtiva, compõem também a estrutura do local equipamentos como o Empório, um centro de serviços com farmácia, loja de conveniência, padaria, restaurantes e posto de gasolina, o hotel cinco estrelas, o complexo multiuso Novo Mundo Empresarial, além do Colégio Santa Maria e dois parques públicos, o Parque da Lagoa e o Parque do Paiva. Para assegurar a sustentabilidade do bairro, foi criada a Associação Geral da Reserva do Paiva (AGRP), uma estrutura inovadora de governança que atua junto ao poder público, garantindo a qualidade da infraestrutura local, a eficiência dos serviços comuns, a sustentabilidade socioambiental da região.</p>
            </div>
            <div class="col-1"></div>
        </div>           
    </div>
</section>

