<div class="jumbotron jumbotron-fluid vila-corais">
    <div class="container">
      <h1 class="title">Para Morar</h1>      
    </div>
</div>

<section class="cont-img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections">
                    <h3 class="title">Vila dos Corais</h3>
                    <div class="sub"><span>Entregue</span>100% Vendido</div>
                </div>

               <strong><span>Um lugar para quem quer estar sempre em equilíbrio.</span></strong>
               <p class="mt-3 text-justify">O Vila dos Corais é o segundo empreendimento da OR em Pernambuco e foi lançado em 2010. </p>
                <p class="text-justify">
                O condomínio à beira-mar representa o perfeito equilíbrio entre o conforto do estilo de vida urbano de luxo, e a maior área verde preservada da região, com segurança e sofisticação, característicos dos empreendimentos OR no Cabo de Santo Agostinho. </p>
                <p class="text-justify">
                É composto por seis torres de cinco pavimentos, com ampla distância entre elas, numa área de aproximadamente 60 mil m² projetada pelo paisagista Luiz Vieira. O empreendimento tem 132 apartamentos, com cerca de 345 metros de beira-mar, se destacando ainda por estar em trecho privilegiado da orla do Paiva, protegido por arrecifes de corais. 
                </p>
            </div>
            <div class="col-auto col-lg-5 ml-auto p-0">
                <div class="image-action">
                    <a href="https://www.youtube.com/watch?v=px0QnelifNA" data-lity rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">      
                        <img src="images/intern-vila-corais.webp" alt="Vila dos Corais" class="img-fluid">
                    </a>
                </div>
                <div class="logo-emp text-center mt-3 mb-3">
                    <img src="images/logo-vila-corais.webp" alt="Vila dos Corais" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="diferencial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Diferencial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Quadra de tênis</li>
                    <li>Ciclovia/Pista de Cooper</li>
                    <li>Apoios de Praia</li>
                    <li>Salão de Jogos</li>
                    <li>Apoio de Serviço</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Campo de futebol Society</li>
                    <li>Espaço Gourmet</li>
                    <li>Salão de Festas</li>
                    <li>Cinema</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Piscina com Descks Individuais</li>
                    <li>Sauna</li>
                    <li>Boate</li>
                    <li>Spa</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Playground</li>
                    <li>Vestiários</li>
                    <li>Brinquedoteca</li>
                    <li>Academia de Ginastica</li>
                </ul>
            </div>
        </div>
    </div>
</section>