<div class="jumbotron jumbotron-fluid verano">
    <div class="container">
      <h1 class="title">Para Morar</h1>      
    </div>
</div>

<section class="cont-img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections">
                    <h3 class="title">Verano</h3>
                    <div class="sub"><span>Em construção</span></div>
                </div>

               <strong><span>VIVA O MELHOR DA VIDA A VIDA TODA!</span></strong>
               <p class="mt-3 text-justify">O Verano possui uma localização privilegiada, em frente ao Parque da Lagoa, para que você possa viver com</p>
                <p class="text-justify">uma qualidade de vida incomparável. Aqui será possível viver uma nova realidade, com mais tempo para curtir o melhor da vida!</p>
                <p class="text-justify">Com metragens de 97 m² e 200 m², as 208 unidades do Verano são distribuídas em quatro torres de 13 pavimentos e trazem 3 suítes, varanda goumert, e duas vagas de garagem.</p>
                <p class="text-justify">Possui terreno amplo, valorização de áreas verdes, completa e equipada estrutura de lazer, preocupação em proporcionar ventilação cruzada nos apartamentos, aproveitamento de iluminação natural, uso racional de água e energia, e atenção com a acessibilidade – o projeto assinado pelo arquiteto Daniel Gusmão valoriza o hall social com imponente pé direito duplo, com mais de 4,5 metros de altura.</p>
            </div>
            <div class="col-auto col-lg-5 ml-auto p-0">
                <div class="image-action">
                    <a href="https://www.youtube.com/watch?v=CqOdKZU3eDM" data-lity rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">      
                        <img src="images/local-intern-verano.png" alt="verano" class="img-fluid">
                    </a>
                </div>
                <div class="logo-emp text-center mt-3 mb-3">
                    <img src="images/logo-verano.webp" alt="Verano" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="diferencial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">ÁREA DE LAZER COM PADRÃO OR</h4>
                <p class="text-justify">Pensando em cada detalhe para receber você e sua família, os equipamentos de lazer são localizados fora das torres, garantido tranquilidade, privacidade e segurança.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <p><strong>Clube:</strong></p>
                <ul class="list-or">
                    <li>Academia</li>
                    <li>Briquedoteca</li>
                    <li>Cinema</li>
                    <li>Espaço</li>
                    <li>Gourmet</li>
                    <li>Piscina (adulto e infantil)</li>                        
                    <li>Deck molhado</li>
                    <li>Salas de coworking</li>
                    <li>Salas de Cross Training</li>
                    <li>Salão de festas</li>
                    <li>Salão de jogos</li>
                    <li>Spa com sala de massagem e sauna</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <p><strong>Espaço esportivo:</strong></p>
                <ul class="list-or">
                    <li>Campo Society</li>
                    <li>Quadra de tênis</li>
                    <li>Apoio de Quadra</li>
                    <li>Quadra de beach tênis/Futvolei</li>
                    <li>Academia ao ar livre</li>
                    <li>Futmesa</li>
                    <li>Slackline</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4">
                <p><strong>Área Externa:</strong></p>
                <ul class="list-or">
                    <li>Espaço para Piquenique</li>
                    <li>Parquinho Infantil</li>
                    <li>Pet Place</li>
                    <li>Pomar</li>
                    <li>Redário</li>
                    <li>Tirolesa</li>                        
                </ul>
            </div>            
        </div>
    </div>
</section>