<div class="jumbotron jumbotron-fluid peninsula">
    <div class="container">
      <h1 class="title">Para Morar</h1>      
    </div>
</div>

<section class="cont-img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections">
                    <h3 class="title">Morada da Península</h3>
                    <div class="sub"><span>Entregue</span>100% Vendido</div>
                </div>

               <strong><span>Um Condomínio Planejado para Você.</span></strong>
               <p class="mt-3 text-justify">Premiado em 2010 como melhor condomínio horizontal pela Ademi-PE, o Morada da Península é um exclusivo condomínio de casas à beira-mar que fundou a Reserva do Paiva, o primeiro empreendimento da OR em Pernambuco.</p>
               <p class="text-justify">O empreendimento lançou em Pernambuco o conceito de condomínio clube, o qual valoriza a infraestrutura de lazer, entretenimento e convivência, de forma nunca antes vista pelo mercado local.
                </p>
            </div>
            <div class="col-auto col-lg-5 ml-auto p-0">
                <div class="image-action">
                    <a href="images/logo-null.png" data-lightbox="example-1" rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">      
                        <img src="images/local-peninsula-intern.webp" alt="Morada da Península" class="img-fluid">
                    </a>
                </div>
                <div class="logo-emp text-center mt-3 mb-3">
                    <img src="images/logo-morada-peninsula.webp" alt="Morada da Península" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="diferencial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Diferencial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Club Concierge</li>
                    <li>Spa de Relaxamento</li>
                    <li>Terraços, Solário e Mirante</li>
                    <li>Kid's Club</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Quada de tênis coberta</li>
                    <li>Sauna</li>
                    <li>Salão de Recepção</li>
                    <li>Salão de Jogos</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Fitness room</li>
                    <li>Piscina Infantil</li>
                    <li>Discoteca</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Pilates room</li>
                    <li>Piscina Semi Olimpica e Lazer</li>
                    <li>Bar e Louge</li>
                </ul>
            </div>
        </div>
    </div>
</section>