<div class="jumbotron jumbotron-fluid paradiso">
    <div class="container">
      <h1 class="title">Para Morar</h1>      
    </div>
</div>

<section class="cont-img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections">
                    <h3 class="title">Paradiso</h3>
                    <div class="sub"><span>Entregue</span>100% Vendido</div>
                </div>

               <strong><span>QUALIDADE DE VIDA ALIADA À INOVAÇÃO</span></strong>

               <p class="mt-3 text-justify">Viver no Paradiso é ter toda qualidade e inovação dos empreendimentos da Reserva do Paiva. Localização, estrutura e um padrão de qualidade incomparáveis. Quem escolhe o Paradiso escolhe uma outra história de vida.</p> 

               <p class="text-justify">Esse é o enredo que te espera no Paradiso. A mais nova entrega com o padrão de qualidade OR, na Reserva do Paiva. Um empreendimento que proporciona o convívio entre as pessoas. Tudo para viver o melhor capítulo da sua história rodeado de tranquilidade, conforto, segurança e liberdade<p>                                
            </div>
            <div class="col-auto col-lg-5 ml-auto p-0">
                <div class="image-action">
                    <a href="https://www.youtube.com/watch?v=WwKM2tWEzvs" data-lity rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">      
                        <img src="images/intern-paradiso.webp" alt="Paradiso" class="img-fluid">
                    </a>
                </div>
                <div class="logo-emp text-center mt-3 mb-3">
                    <img src="images/logo-paradiso.webp" alt="Paradiso" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="diferencial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Diferencial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Club Concierge</li>
                    <li>Spa de Relaxamento</li>
                    <li>Terraços, Solário e Mirante</li>
                    <li>Kid's Club</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Quada de tênis coberta</li>
                    <li>Sauna</li>
                    <li>Salão de Recepção</li>
                    <li>Salão de Jogos</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Fitness room</li>
                    <li>Piscina Infantil</li>
                    <li>Discoteca</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Pilates room</li>
                    <li>Piscina Semi Olimpica e Lazer</li>
                    <li>Bar e Louge</li>
                </ul>
            </div>
        </div>
    </div>
</section>