<div class="jumbotron jumbotron-fluid jardim-mar">
    <div class="container">
      <h1 class="title">Para Morar</h1>      
    </div>
</div>

<section class="cont-img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections">
                    <h3 class="title">Jardim do Mar</h3>
                    <div class="sub"><span>Entregue</span>100% Vendido</div>
                </div>

               <strong><span>APARTAMENTOS JARDIM, PANORÂMICOS E COM COBERTURA LINEAR.</span></strong>
               <p class="mt-3 text-justify">O Jardim do Mar explora ao máximo sua localização privilegiada, criando um conjunto harmonioso que se debruça sobre uma vista revigorante do Parque do Paiva e da acolhedora praia de piscinas naturais à sua frente. Com o paisagismo assinado por Benedito Abbud, o empreendimento se integra perfeitamente com a natureza ao seu redor.</p> 
               
               <p class="text-justify">Quatro torres com 60 apartamentos, sendo oito Apartamentos Jardins, 48 Panorâmicos e 4 coberturas. Infraestrutura de lazer, privacidade e segurança, tudo em frente ao surpreendente Parque do Paiva.</p> 

            </div>
            <div class="col-auto col-lg-5 ml-auto p-0">
                <div class="image-action">
                    <a href="https://www.youtube.com/watch?v=FKMVYDlkPAY" data-lity rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">      
                        <img src="images/intern-jardim-do-mar.webp" alt="Jardim Mar" class="img-fluid">
                    </a>
                </div>
                <div class="logo-emp text-center mt-3 mb-3">
                    <img src="images/logo-jardim-mar.webp" alt="Jardim Mar" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="diferencial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Diferencial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Club Concierge</li>
                    <li>Spa de Relaxamento</li>
                    <li>Terraços, Solário e Mirante</li>
                    <li>Kid's Club</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Quada de tênis coberta</li>
                    <li>Sauna</li>
                    <li>Salão de Recepção</li>
                    <li>Salão de Jogos</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Fitness room</li>
                    <li>Piscina Infantil</li>
                    <li>Discoteca</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Pilates room</li>
                    <li>Piscina Semi Olimpica e Lazer</li>
                    <li>Bar e Louge</li>
                </ul>
            </div>
        </div>
    </div>
</section>