<div class="jumbotron jumbotron-fluid terraco">
    <div class="container">
      <h1 class="title">Para Morar</h1>      
    </div>
</div>

<section class="cont-img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections">
                    <h3 class="title">Terraço Laguna</h3>
                    <div class="sub"><span>Entregue</span>100% Vendido</div>
                </div>

               <strong><span>UM LUGAR EM TOTAL SINTONIA COM A NATUREZA.</span></strong>
               <p class="mt-3 text-justify">Cercado pela energia das águas do Rio Pirapama e a lagoa perene do Parque da Lagoa, o Terraço Laguna trouxe um modelo de apartamento mais compacto, focado nas famílias menores e na vida prática dos executivos. O projeto arquitetônico de Jerônimo da Cunha Lima conta com sete torres, de oito pavimentos cada, que possuem unidades de 112 m² e 198 m².</p>
                <p class="text-justify">Os 224 apartamentos são bem distribuídos em quase 30 mil m² de área, mantendo o padrão de sofisticação da OR e respeitando o conceito do bairro que preza por baixo adensamento, amplo espaço entre as edificações e valorização das áreas verdes, com paisagismo assinado por Luiz Vieira.]
                </p>
            </div>
            <div class="col-auto col-lg-5 ml-auto p-0">
                <div class="image-action">
                    <a href="https://www.youtube.com/watch?v=FKMVYDlkPAY" data-lity rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">      
                        <img src="images/intern-terraco.webp" alt="Terraço Laguna" class="img-fluid">
                    </a>
                </div>
                <div class="logo-emp text-center mt-3 mb-3">
                    <img src="images/logo-terraco-laguna.webp" alt="Terraço Laguna" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="diferencial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Diferencial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Quadra de tênis</li>
                    <li>Ciclovia/Pista de Cooper</li>
                    <li>Apoios de Praia</li>
                    <li>Salão de Jogos</li>
                    <li>Apoio de Serviço</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Campo de futebol Society</li>
                    <li>Espaço Gourmet</li>
                    <li>Salão de Festas</li>
                    <li>Cinema</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Piscina com Descks Individuais</li>
                    <li>Sauna</li>
                    <li>Boate</li>
                    <li>Spa</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Playground</li>
                    <li>Vestiários</li>
                    <li>Brinquedoteca</li>
                    <li>Academia de Ginastica</li>
                </ul>
            </div>
        </div>
    </div>
</section>