<div class="jumbotron jumbotron-fluid varanda">
    <div class="container">
      <h1 class="title">Para Morar</h1>      
    </div>
</div>

<section class="cont-img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections">
                    <h3 class="title">Varanda Parque</h3>
                    <div class="sub"><span>Entregue</span>100% Vendido</div>
                </div>

               <strong><span>EMPREENDIMENTO QUE SE CONECTA COM A PRAIA DE PISCINAS NATURAIS.</span></strong>
               <p class="mt-3 text-justify">O Varanda do Parque é um condomínio projetado por Carlos Fernando Pontual e com paisagismo idealizado por Benedito Abbud. Juntos, esses dois arquitetos criaram uma perfeita integração entre o empreendimento e o Parque do Paiva, que por sua vez se conecta de forma harmoniosa com a praia de piscinas naturais.</p>
               <p class="text-justify">O residencial de 128 apartamentos foi construído em frente a grande área verde do Parque do Paiva e vizinho à praia. As quatro torres são separadas por amplos espaços e jardins. São 112 apartamentos panorâmicos, a partir de 182m² e 16 apartamentos Jardins, modelo consagrado pelo mercado e que se apresenta como um misto de casa e apartamento, com metragem a partir de 271m². Todos os modelos têm 04 suítes, sala para 03 ambientes, varanda gourmet e 03 vagas de estacionamento.
                </p>
            </div>
            <div class="col-auto col-lg-5 ml-auto p-0">
                <div class="image-action">
                    <a href="images/logo-null.png" data-lightbox="example-1" rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">      
                        <img src="images/intern-varanda-do-parque.webp" alt="Varanda Parque" class="img-fluid">
                    </a>
                </div>
                <div class="logo-emp text-center mt-3 mb-3">
                    <img src="images/logo-varanda-parque.webp" alt="Varanda Parque" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="diferencial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Diferencial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Quadra de tênis</li>
                    <li>Ciclovia/Pista de Cooper</li>
                    <li>Apoios de Praia</li>
                    <li>Salão de Jogos</li>
                    <li>Apoio de Serviço</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Campo de futebol Society</li>
                    <li>Espaço Gourmet</li>
                    <li>Salão de Festas</li>
                    <li>Cinema</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Piscina com Descks Individuais</li>
                    <li>Sauna</li>
                    <li>Boate</li>
                    <li>Spa</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Playground</li>
                    <li>Vestiários</li>
                    <li>Brinquedoteca</li>
                    <li>Academia de Ginastica</li>
                </ul>
            </div>
        </div>
    </div>
</section>