<section class="plantas">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Plantas</h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-12">
                <div class="title-sections v2">
                    <h3 class="title">Versatilidade<br>e Flexibilidade</h3>
                    <div class="sub"><span>3 opções de planta</span></div>
                </div>   
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="gal-plantas">
                    <div class="pl-or pl-01">
                        <a href="images/planta-tp-01-verano.webp" data-lightbox="planta-1" rel="lightvideo" title="" class="">      
                            <img src="images/planta-tp-01-corais.webp" alt="verano" >
                        </a>
                        <div class="info">
                            <strong>Tipo 1</strong>
                            <p>Área apartamento 96m - 3 Suítes (sendo dias canadenses) Com Varanda Gourmet e Lavabo</p>
                        </div>
                    </div>
                    <div class="pl-or pl-02">
                        <a href="images/planta-tp-02-verano.webp" data-lightbox="planta-1" rel="lightvideo" title="" class="">      
                            <img src="images/planta-tp-02-corais.webp" alt="verano" >
                        </a>
                        <div class="info">
                            <strong>Tipo 2</strong>
                            <p>Área apartamento 96,7m - 2 Suítes  - Com Varanda Gourmet e Lavabo, Home theater e Office</p>
                        </div>
                    </div>
                    <div class="pl-or pl-03">
                        <a href="images/planta-tp-03-verano.webp" data-lightbox="planta-1" rel="lightvideo" title="" class="">      
                            <img src="images/planta-tp-03-corais.webp" alt="verano" >
                        </a>
                        <div class="info">
                            <strong>Tipo 3</strong>
                            <p>Área apartamento 96,7m - 2 Suítes  - Com Varanda Gourmet e Lavabo,
                                Home theater e Office</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>