<section class="plantas">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Plantas</h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-12">
                <div class="title-sections v2">
                    <h3 class="title">Versatilidade<br>e Flexibilidade</h3>
                    <div class="sub"><span>3 opções de planta</span></div>
                </div>   
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="gal-plantas">
                    <div class="pl-or pl-01">
                        <a href="images/varanda-a.webp" data-lightbox="planta-1" rel="lightvideo" title="Opção A" class="">      
                            <img src="images/varanda-a.webp" alt="varanda" class="img-fluid">
                        </a>
                        <div class="info">
                            <strong>Opção A</strong>
                            <p>Área do apartamento: 96.7 m2 3 suítes (sendo duas canadenses) Varanda Gourmet e lavabo</p>
                        </div>
                    </div>
                    <div class="pl-or pl-02">
                        <a href="images/varanda-b.webp" data-lightbox="planta-1" rel="lightvideo" title="Opção B" class="">      
                            <img src="images/varanda-b.webp" alt="varanda" class="img-fluid">
                        </a>
                        <div class="info">
                            <strong>Opção B</strong>
                            <p>Área do apartamento: 96,7 m2 2 suítes com varanda gourmet, lavabo, home theater e office</p>
                        </div>
                    </div>
                    <div class="pl-or pl-03">
                        <a href="images/varanda-c.webp" data-lightbox="planta-1" rel="lightvideo" title="Opção C" class="">      
                            <img src="images/varanda-c.webp" alt="varanda"  class="img-fluid">
                        </a>
                        <div class="info">
                            <strong>Opção C</strong>
                            <p>Área do apartamento: 96,7 m2 3 quartos (sendo 1 suítes máster) Varanda Gourmet e lavabo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>