<div class="jumbotron jumbotron-fluid verano">
    <div class="container">
      <h1 class="title">Para Morar</h1>      
    </div>
</div>

<section class="cont-img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections">
                    <h3 class="title">Verano</h3>
                    <div class="sub"><span>Em construção</span></div>
                </div>

               <strong><span>Viva o melhor da vida no Verano</span></strong>
               <p class="mt-3">Com uma localização privilegiada, em frente ao Parque da Lagoa, com vista para lagoa, rio, mar e cercado por mata, a OR mostra que morar integrado à natureza é um estilo de vida possível, unindo a sofisticação, principal característica dos seus empreendimentos, à qualidade de vida.</p> 
               
               <p> Com metragens de 97 m² e 200 m², as 208 unidades do Verano são distribuídas em quatro torres de 13 pavimentos e trazem 3 suítes, varanda goumert, e duas vagas de garagem.</p> 

                <p>Possui terreno amplo, valorização de áreas verdes, completa e equipada estrutura de lazer, preocupação em proporcionar ventilação cruzada nos apartamentos, aproveitamento de iluminação natural, uso racional de água e energia, e atenção com a acessibilidade – o projeto assinado pelo arquiteto Daniel Gusmão valoriza o hall social com imponente pé direito duplo, com mais de 4,5 metros de altura.</p>
            </div>
            <div class="col-auto col-lg-5 ml-auto p-0">
                <div class="image-action">
                    <a href="images/logo-verano.webp" data-lightbox="example-1" rel="lightvideo" title="Cliqie aqui e assista ao vídeo de apresentação" class="bt-video">      
                        <img src="images/local-intern.webp" alt="verano" class="img-fluid">
                    </a>
                </div>
                <div class="logo-emp text-center mt-3 mb-3">
                    <img src="images/logo-verano.webp" alt="Verano" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="diferencial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title-simple">Diferencial</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Club Concierge</li>
                    <li>Spa de Relaxamento</li>
                    <li>Terraços, Solário e Mirante</li>
                    <li>Kid's Club</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Quada de tênis coberta</li>
                    <li>Sauna</li>
                    <li>Salão de Recepção</li>
                    <li>Salão de Jogos</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Fitness room</li>
                    <li>Piscina Infantil</li>
                    <li>Discoteca</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="list-or">
                    <li>Pilates room</li>
                    <li>Piscina Semi Olimpica e Lazer</li>
                    <li>Bar e Louge</li>
                </ul>
            </div>
        </div>
    </div>
</section>