<section class="nova-realidade">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-auto col-lg-6 p-0">
                <img src="images/or-realidade.webp" alt="nova realidade" class="w-100">
            </div>
            <div class="col-auto"></div>
            <div class="col-sm-12 col-md-5 text-justify">
                <div class="title-sections">
                    <h3 class="title">uma nova realidade</h3>
                    <div class="sub"><span>Já espera por você</span></div>
                </div>
                <p>A OR trouxe para Pernambuco um novo conceito de viver, que valoriza a integração de conforto e natureza, com padrão internacional de moradia, infraestrutura completa e tecnologia de última geração. Cada empreendimento é pensado nos mínimos detalhes para proporcionar liberdade, privacidade, conforto, segurança e qualidade de vida.</p>
                
                <p>A principal característica dos empreendimentos da OR é a excelência da qualidade construtiva. Seus lançamentos contam com parcerias com grandes arquitetos do Brasil e do mundo, e já receberam prêmios como o Prix d’Exellence da Federação Internacional das Profissões Imobiliárias (FIABCI), o World Luxury Hotel Award, o nacional Prêmio Máster Imobiliário, e o Ademi-PE.</p> 

                <strong>Confira nossos empreendimentos</strong>
                <div class="actions">
                    <a href="" class="btn btn-default line-2" title="Em Obras">Em Obras</a>
                    <a href="" class="btn btn-default line-2" title="Entregues">Entregues</a>
                </div>
            </div>
        </div>
    </div>
</section>