<section class="reserva-carousel">
    <div class="container-fluid">
        <div class="row align-items-center">
            
            <div class="col-sm-12 col-md-4 ml-auto mr-auto text-justify">
                <div class="title-sections">
                    <h3 class="title">bem-vindo á</br>reserva do paiva</h3>
                    <div class="sub"><span>Aqui seu sonho é possível.</span></div>
                </div>
                <p>A OR escolheu Pernambuco para fazer, na época, em 2008, o maior investimento da empresa no Brasil: um bairro 100% planejado no litoral sul de Pernambuco. A Reserva do Paiva, localizada no Cabo de Santo Agostinho foi um marco de planejamento urbano na Região Metropolitana do Recife, com completa infraestrutura para moradia, lazer, trabalho e turismo, voltado para o público local com padrão internacional e com masterplan desenvolvido em parceria com os grupos Cornélio e Ricardo Brennand, proprietários da área.</p>

                <p>O empreendimento é integrado ao cenário natural exuberante da Praia do Paiva, em uma área de 526 hectares, com uma faixa de 8,6 km de praias, 5 km de rio, cercada por mais de 500 hectares de mata preservada. </p>

                <a href="" class="btn btn-default" title="Saiba mais sobre o bairro">Saiba mais sobre o bairro</a>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                <div class="owl-carousel owl-theme">
                    <div>
                        <a href="para-viver.html#parque-lagoa" class="link-slider" title="Parque da Lagoa">
                            <div class="card">
                                <div class="text">
                                    <h3 class="title">Parque</br>da lagoa</h3>
                                    <div class="sub">Aberto ao público</div>
                                </div>
                                <div class="imagem">
                                    <img src="images/or-park-slider.webp" alt="parque da lagoa" class="img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="para-viver.html" class="link-slider" title="Open Mall Paiva">
                            <div class="card">
                                <div class="text">
                                    <h3 class="title">Open</br>Mall</h3>
                                    <div class="sub">Em funcionamento</div>
                                </div>
                                <div class="imagem">
                                    <img src="images/or-open-mall-slider.webp" alt="open mall" class="img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="para-viver.html#emporio" class="link-slider" title="Empório Gourmet">
                            <div class="card">
                                <div class="text">
                                    <h3 class="title">Empório</br>Gourmet</h3>
                                    <div class="sub">Em funcionamento</div>
                                </div>
                                <div class="imagem">
                                    <img src="images/or-emporio-slider.webp" alt="empório gourmet" class="img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="para-viver.html#colegio" class="link-slider" title="Colégio Santa Maria">
                            <div class="card">
                                <div class="text">
                                    <h3 class="title">Colégio</br>Santa Maria</h3>
                                    <div class="sub">Em funcionamento</div>
                                </div>
                                <div class="imagem">
                                    <img src="images/colegio-santa-maria-slider.webp" alt="colegio santa maria" class="img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>              
        </div>        
    </div>
</section>