<div class="jumbotron jumbotron-fluid viver">
    <div class="container">
      <h1 class="title">Para Viver</h1>      
    </div>
</div>
<div class="step" id="parque-lagoa"></div>      
<section id="" class="pt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <img src="images/parque-lagoa-intern.webp" alt="parque da lagoa" class="img-fluid mb-3">
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="title-sections v3">
                    <h3 class="title">
                        Parque da Lagoa
                    </h3>
                </div>
                <p class="text-justify">Situado em frente aos condomínios Terraço Laguna, Paradiso, e o mais novo lançamento Verano, o projeto paisagístico de Luiz Vieira tem 4,6 hectares e 24 mil metros quadrados de espelho d´água, com equipamentos de lazer ao ar livre e espaço para piquenique.</p>

                <p class="text-justify">O parque oferece boardwalking, pista de cooper de 1 km, pista de skate, ciclofaixa de 1 km integrada aos 6,5 km da ciclovia da Via Parque, brinquedos infantis, espaço especial para pets, além de áreas de contemplação e lazer em família, assim como o seu passeio, que se integra ao Empório Gourmet e à praia.</p>

                <p class="text-justify">Conhecida pelos antigos moradores e passantes como “Lagoa Encantada”, por “aparecer” e “sumir” de acordo com as épocas do ano, o terreno foi rebaixado e a lagoa hoje é perene, com profundidade média de 1,80 m, e possui todo um ecossistema de peixes e outros animais, com seus habitats naturais preservados, e monitoramento da qualidade ambiental permanente, com estudos hidrológicos, inventários de fauna e flora, e proteção ao olho d’água, sendo proibida prática de esportes na lagoa.</p>

            </div>
        </div>
    </div>
</section>
<div class="step" id="parque-paiva"></div>      
<section id="" class="pt-5">
    <div class="container">
        <div class="row align-items-center viver-reverse">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections v3">
                    <h3 class="title">
                        Parque do Paiva
                    </h3>
                </div>
                <p class="text-justify">Sendo mais um marco para o desenvolvimento do bairro, o Parque do Paiva tem 6,6 hectares, tamanho similar ao Parque da Jaqueira, na zona norte do Recife, e foi criado para atender às necessidades de lazer para toda a família, com a segurança que só um bairro planejado pode oferecer.</p>

                <p class="text-justify">O projeto paisagístico é assinado pelo escritório de arquitetura britânico AECOM e pelo renomado arquiteto paisagista Benedito Abbud. Com vegetação que varia de mata atlântica a restinga, o Parque do Paiva possui ampla estrutura ao ar livre para diversas modalidades de lazer e prática esportiva como academia, quadra de tênis, pista para caminhada e corrida, pista para bicicleta, passeio, área para contemplação, parque infantil e bicicletário.</p>

                <p class="text-justify">Localizado entre o mar e a Via Parque, o parque fica ao lado dos condomínios Varanda do Parque e Jardim do Mar, e abriga a sede da Associação Geral da Reserva do Paiva (AGRP), onde está ainda instalada uma unidade de apoio do SAMU e um Centro Integrado de Segurança da Prefeitura do Cabo de Santo Agostinho. </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="images/parque-paiva-intern.webp" alt="parque paiva" class="img-fluid mb-3">
            </div>
        </div>
    </div>
</section>
<div class="step" id="emporio"></div>      
<section id="" class="pt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <img src="images/emporio-gourmet-intern.webp" alt="emporio gourmet" class="img-fluid mb-3">
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="title-sections v3">
                    <h3 class="title">
                        Empório Gourmet
                    </h3>
                </div>
                <p class="text-justify">É um espaço que reúne um diferenciado mix de lojas e restaurantes que tem como objetivo principal tornar a estadia dos seus clientes o mais confortável possível, proporcionando a sua experiência agradável, através dos seus serviços e com ambiente em sintonia com a natureza. Conheça os restaurantes e lojas que fazem parte do Empório: Drogasil, AmPm SuperStore, Direct, Posto Paiva, Motor Burger, Pizza do Pedaço, Black Japa, Padoca, Mercearia Zymi e Beijupirá.</p>

            </div>
        </div>
    </div>
</section>
<div class="step" id="colegio"></div>      
<section id="" class="pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center viver-reverse">
            <div class="col-sm-12 col-md-6">
                <div class="title-sections v3">
                    <h3 class="title">
                        Colégio Santa Maria
                    </h3>
                </div>
                <p class="text-justify">O Colégio Santa Maria chegou para deixar a Reserva do Paiva ainda mais completa. Referência há 60 anos na educação de crianças e adolescentes, a nova escola é integrada ao bairro e à natureza. São mais de 80 salas de aula equipadas e prontas para receber alunos do Maternal I ao 3º ano do Ensino Médio, oferecendo ainda Ensino Bilíngue, horário Integral, Curso de Mandarim e Escola de Inteligência. As matrículas para 2016 já estão abertas.</p>

                <p>Ligue (81) 3087-0000 e descubra mais sobre a Reserva do Paiva, um bairro que não para de crescer.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="images/escola-santa-maria-intern.webp" alt="colégio santa maria" class="img-fluid mb-3">
            </div>
        </div>
    </div>
</section>