<!-- //DocTyoe -->
<partial src="doctype.html"></partial> 

  <body id="documentos" class="interna-or">  	
    <div class="wrapper">
      <!-- //Header -->
      <partial src="header.html"></partial> 
      
      <!-- //documentos -->
      <partial src="documentos.html"></partial>  

      <!-- //cta -->
      <partial src="cta.html"></partial>   

      <!-- //form newsletter -->
      <partial src="newsletter.html"></partial> 
      
      <!-- //footer default -->
      <partial src="footer.html"></partial> 
    </div>
    <!-- //scripts -->
    <script src="js/lib.js"></script>
    <script src="js/app.min.js"></script>	
    <script src="js/news-form-script.js"></script>
  </body>
</html>

