<!-- //DocTyoe -->
<partial src="doctype.html"></partial> 

  <body class="interna-or">  	
    <div class="wrapper">
      <!-- //Header -->
      <partial src="header.html"></partial> 
      
      <!-- //fale conosco -->
      <partial src="form-contato.html"></partial>

      <!-- //cta -->
      <partial src="cta.html"></partial>   
      
      <!-- //footer default -->
      <partial src="footer-contato.html"></partial> 
    
  </body>
</html>

