 <!-- //DocTyoe -->
<partial src="doctype.html"></partial>  

  <body class="index-or">  	
    <div class="wrapper">
      <!-- //Header -->
      <partial src="header.html"></partial> 
      
      <!-- //carousel -->
      <partial src="carousel.html"></partial> 

      <!-- //timeline or -->
      <partial src="historia-or.html"></partial> 

      <!-- //nova realidade or -->
      <partial src="realidade-or.html"></partial> 

      <!-- //reserva paiva or -->
      <partial src="reserva-paiva-or.html"></partial> 

      <!-- //mundo conectado or -->
      <partial src="mundo-or.html"></partial> 
      
      <!-- //cta -->
      <partial src="cta.html"></partial>   

      <!-- //mais que uma marca or -->
      <partial src="marca-or.html"></partial> 

      <!-- //form newsletter -->
      <partial src="newsletter.html"></partial> 
      
      <!-- //footer default -->
      <partial src="footer.html"></partial> 
    </div>
    <!-- //scripts -->
    <script src="js/lib.js"></script>
    <script src="js/app.min.js"></script>	
    <script src="js/news-form-script.js"></script>
  </body>
</html>

