<!-- //DocTyoe -->
<partial src="doctype.html"></partial> 

  <body class="interna-or">  	
    <div class="wrapper">
      <!-- //Header -->
      <partial src="header.html"></partial> 
      
      <!-- //a reserva do paiva -->
      <partial src="paiva.html"></partial>

      <!-- //galeria -->
      <partial src="galeria-bairro.html"></partial>

      <!-- //disclaimer -->
      <partial src="disclaimer-bairro.html"></partial>   

      <!-- //cta -->
      <partial src="cta.html"></partial>   

      <!-- //form newsletter -->
      <partial src="newsletter.html"></partial> 
      
      <!-- //footer default -->
      <partial src="footer.html"></partial> 
    </div>
    <!-- //scripts -->
    <script src="js/lib.js"></script>
    <script src="js/app.min.js"></script>	
    <script src="js/news-form-script.js"></script>
  </body>
</html>

