<!-- //DocTyoe -->
<partial src="doctype.html"></partial> 

  <body class="interna-or">  	
    <div class="wrapper">
      <!-- //Header -->
      <partial src="header.html"></partial> 
      
      <!-- //pra morar -->
      <partial src="viver.html"></partial>
      
      <!-- //footer default -->
      <partial src="footer.html"></partial> 
    </div>
    <!-- //scripts -->
    <script src="js/lib.js"></script>
    <script src="js/app.min.js"></script>	
  </body>
</html>

