////Fonts
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap);
$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;

//shadow
@mixin box-shadow () {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) !important;
}

//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@include mobile-only() {

//btn 
.btn-default {
  &.line-2 {
    padding: 0.6rem 1.0rem;
  }
}
//Contact header
  .contact-header {
    display: none;
  }
  .chanel-mobile {
    display: flex !important;
    justify-content: center;
  }

//Navbar Client
  .navbarClient {
    border-top: #FAA61A solid 4px;
    background-color:  #455F6B !important;
    top: 0px;    
    .navbar-brand {
      max-width: 120px;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #FFFFFF;
        }
        &:last-child{
          background: transparent;
          position: relative;
          &:after {
            position: absolute;
            content: "Documentos";
            color:#FFFFFF;
            left: 20px;
            top: 10px;
            margin-left: 0.7rem;
          }
        }
      }
    }
  }  

  .header-default {
    &.fixed-top-or {
      .navbarClient {
        .navbar-brand {
          max-width: 120px;
        }        
      }    
    }
  } 
 
//Carousel
#carouselOr {
  .carousel-item {
    height: 625px;    
    background-size: auto 560px;    
    .container {
      flex-direction: column;
      height: 525px;    
      &:before {
        left: 0;
        bottom: -52px;
      }
      .bt-video {
        margin-left: auto;
        margin-top: 0px;
        img {
          width: 180px;
        }
      }
    }
    .carousel-caption {
      margin-top: 150px;
      h3 {
        font-size: 36px;
      }
      .sub-t {
        font-size: 19px;
        line-height: 22px;
      }
      .dest {
        font-size: 0.9rem;
      }
      .btn  {
        font-size: 0.8rem;
      }
      .info {
        margin-top: 1.2rem;
        font-size: 1.2rem;
      }
    }
  }
}  

//documentos
#documentos {
  .navbarClient {
    .navbar-brand {
      .logo-white {
        display: block;
      }
      .logo-color {
        display: none;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #FFFFFF;
        }
        &:last-child{
          background: transparent;          
        }
      }
    }
  }
  section {
    &.documentos {
      margin-top: 50px;
    }   
  }
}

//footer
 footer {
  text-align: center;
   .logo {
     width: 240px;
     height: auto;
     padding: 1.5rem;
   }
   .desc-logo {
     width: 240px;
     margin: 0 auto;
    font-size: 12px;
  }
  .nav-footer {
    ul,
    .head-nav {
      padding-left: 0;
    }
    &.social {
      ul,
      .head-nav {
        padding-left: 0;
      }
    }
  }
 } 

//Title sections
.title-sections {
  h3 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
}

//Title OR style
  .title-or-content {
    margin-top: 0.8rem;
    .title-style-or {
      h3 {
        font-size: 1.0rem;
      }          
      p {
        font-size: 0.7rem;
      }
    }
  }

 //CTA
  .cta {
    .action {
      margin: auto;
    }
  }

//Newsletter 
  .newsletter {
    .content {
      .news-title {    
        font-size: 1.0rem;
      }
    }
  }

//reserva-carousel
.reserva-carousel {
  .btn-default {
    width: 100%;
    margin: 30px auto;
  }
}

//interna-or
.interna-or {
  .jumbotron {
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 180px;
    .title {
      font-size: 24px;
      &:after {
        margin-top: 24px;
        width: 110px;
        height: 30px;
      }
    }
  }
  .image-action {
    padding: 10px;
    margin-top: 0px;
  }
}

//title-simple
.title-simple {
  margin-bottom: 1.5rem;
}

//viver
.viver-reverse {
  flex-direction: column-reverse;
}

//galeria
.geleria {
  .gal {
    max-width: 320px;
    margin: 0 auto;
    height: auto;    
  }
  .col-sm-12 {
    .met {
      display: block;
      width: 100%;
    }
  }
  .img-col {
    width: 100%;
    max-height: 240px;
    overflow: hidden;
  }  
  .col-mob {
    display: flex;
  }
}

//Plantas
.plantas {
  .gal-plantas {
    display: flex;
    flex-direction: column;
    .pl-or {
      text-align: center;
    }
  }
  .info {
    padding: 0.8rem;
    margin-top: 0.2rem;
    p {
      font-size: 0.8rem;
    }
  }
}

//list-or
.list-or {
  margin: 0 0 0.8rem 0;
}

//mais-or
.mais-or {
  .actions {
    .title {
      font-size: 18px;
      text-align: center;
    }
    .btn {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .row {
    flex-direction: column-reverse;
    img {
      margin-bottom: 24px;
    }
  }
}

//documentos
.grid-documentos {
  width: 100%;
  .card-doc-or {
    width: 100%;
    height: 60px;
    margin: 0.6rem 0;
  }
}

//nova-realidade
  .nova-realidade {
    img {
      &.w-100 {
        margin-bottom: 30px;
      }
    }
    .actions {
      display: flex;
      width: 100%;
      justify-content: space-between;
      a {
        margin-right: 0;
      }
    }
  }
}
@include mobile-portrait-only() {}