@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yunt12');
  src:  url('../fonts/icomoon.eot?yunt12#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yunt12') format('truetype'),
    url('../fonts/icomoon.woff?yunt12') format('woff'),
    url('../fonts/icomoon.svg?yunt12#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hang:before {
  content: "\e944";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-images:before {
  content: "\e93b";
}
.icon-bullhorn:before {
  content: "\e937";
}
.icon-regras:before {
  content: "\e93c";
}
.icon-empresa:before {
  content: "\e93d";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-entrada:before {
  content: "\e939";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93f";
}
.icon-credit-card:before {
  content: "\e940";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-confused2:before {
  content: "\e9f6";
}
.icon-frustrated2:before {
  content: "\ea00";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-youtube:before {
  content: "\e924";
}
.icon-not-2:before {
  content: "\e922";
}
.icon-not-1:before {
  content: "\e923";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-log-out:before {
  content: "\e943";
}
.icon-cancel:before {
  content: "\e91f";
}
.icon-mult-times:before {
  content: "\e933";
}
.icon-single-times:before {
  content: "\e934";
}
.icon-multi-user:before {
  content: "\e935";
}
.icon-single-user:before {
  content: "\e936";
}
.icon-extrato:before {
  content: "\e932";
}
.icon-4060:before {
  content: "\e931";
}
.icon-5050-1:before {
  content: "\e90d";
}
.icon-11-1:before {
  content: "\e90f";
}
.icon-11-2:before {
  content: "\e914";
}
.icon-5050-2:before {
  content: "\e915";
}
.icon-padrao:before {
  content: "\e930";
}
.icon-todas-n:before {
  content: "\e925";
}
.icon-rodada-n:before {
  content: "\e926";
}
.icon-publica-n:before {
  content: "\e927";
}
.icon-promocional-n:before {
  content: "\e928";
}
.icon-privada-n:before {
  content: "\e929";
}
.icon-mensal-n:before {
  content: "\e92a";
}
.icon-garantida-n:before {
  content: "\e92b";
}
.icon-free-n:before {
  content: "\e92c";
}
.icon-anual-n:before {
  content: "\e92d";
}
.icon-turno-n1:before {
  content: "\e92e";
}
.icon-turno-n:before {
  content: "\e92f";
}
.icon-user-list:before {
  content: "\e920";
}
.icon-cartola:before {
  content: "\e921";
}
.icon-convidar:before {
  content: "\e91c";
}
.icon-reenviar:before {
  content: "\e91d";
}
.icon-liga-promo-2:before {
  content: "\e900";
}
.icon-liga-privada-2:before {
  content: "\e901";
}
.icon-liga-garantida-2:before {
  content: "\e902";
}
.icon-turno:before {
  content: "\e903";
}
.icon-turno1:before {
  content: "\e904";
}
.icon-anual:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-data-rodada:before {
  content: "\e909";
}
.icon-delet:before {
  content: "\e90a";
}
.icon-deposito:before {
  content: "\e90b";
}
.icon-detail-time:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-inscritos:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-liga-free-1:before {
  content: "\e912";
}
.icon-liga-free:before {
  content: "\e913";
}
.icon-mensal:before {
  content: "\e916";
}
.icon-ranking:before {
  content: "\e942";
}
.icon-camisa:before {
  content: "\e93e";
}
.icon-mult-times:before {
  content: "\e933";
}
.icon-single-times:before {
  content: "\e934";
}
.icon-multi-user:before {
  content: "\e935";
}
.icon-single-user:before {
  content: "\e936";
}
.icon-extrato:before {
  content: "\e932";
}
.icon-4060:before {
  content: "\e931";
}
.icon-5050-1:before {
  content: "\e90d";
}
.icon-11-1:before {
  content: "\e90f";
}
.icon-11-2:before {
  content: "\e914";
}
.icon-5050-2:before {
  content: "\e915";
}
.icon-padrao:before {
  content: "\e930";
}
.icon-todas-n:before {
  content: "\e925";
}
.icon-rodada-n:before {
  content: "\e926";
}
.icon-publica-n:before {
  content: "\e927";
}
.icon-promocional-n:before {
  content: "\e928";
}
.icon-privada-n:before {
  content: "\e929";
}
.icon-mensal-n:before {
  content: "\e92a";
}
.icon-garantida-n:before {
  content: "\e92b";
}
.icon-free-n:before {
  content: "\e92c";
}
.icon-anual-n:before {
  content: "\e92d";
}
.icon-turno-n1:before {
  content: "\e92e";
}
.icon-turno-n:before {
  content: "\e92f";
}
.icon-user-list:before {
  content: "\e920";
}
.icon-cartola:before {
  content: "\e921";
}
.icon-convidar:before {
  content: "\e91c";
}
.icon-reenviar:before {
  content: "\e91d";
}
.icon-liga-promo-2:before {
  content: "\e900";
}
.icon-liga-privada-2:before {
  content: "\e901";
}
.icon-liga-garantida-2:before {
  content: "\e902";
}
.icon-turno:before {
  content: "\e903";
}
.icon-turno1:before {
  content: "\e904";
}
.icon-anual:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-data-rodada:before {
  content: "\e909";
}
.icon-delet:before {
  content: "\e90a";
}
.icon-deposito:before {
  content: "\e90b";
}
.icon-detail-time:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-inscritos:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-liga-free-1:before {
  content: "\e912";
}
.icon-liga-free:before {
  content: "\e913";
}
.icon-mensal:before {
  content: "\e916";
}
.icon-premiacao:before {
  content: "\e917";
}
.icon-reload:before {
  content: "\e918";
}
.icon-rodada:before {
  content: "\e919";
}
.icon-todas:before {
  content: "\e91a";
}
.icon-twitter:before {
  content: "\e91b";
}
.icon-editar:before {
  content: "\e91e";
}