//Fonts
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap);
//Colors
$orange   : #E87722;
$orange-2 : #FAA61A;
$white	  : #FFFFFF;
$gray     : #455F6B;
$gray-2   : #F2F4F5;
$black    : #000000;
$blue     : #D6D9F6;

//btn-default
.btn-default {
  background: $orange-2;
  color: $white;
  transition: all 0.2s;
  &:hover {
    background: $orange;
    color: $white;
    transition: all 0.2s;
  }
  &.white {
    background: $white;
    color: $gray;
    transition: all 0.2s;
    &:hover {
      background: $gray;
      color: $white;
      transition: all 0.2s;
    }
  }
  &.line {
    background: transparent;
    border: 1px solid $white;
    padding: 0.8rem;
    &:hover {
      background: $orange;
      border-color: $orange;
      color: $white;
      transition: all 0.2s;
    }
  }
  &.line-2 {
    background: transparent;
    border: 1px solid $gray;
    color: $gray;
    padding: 0.8rem 2.2rem;
    &:hover {
      background: $orange;
      border-color: $orange;
      color: $white;
      transition: all 0.2s;
    }
  }
}

//wapper
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

//Mixin 
@mixin grayscale(){
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

//Mixin rotate
@mixin rotate($rot) {
  -webkit-transform: rotate($rot);
  -moz-transform: rotate($rot);
  -o-transform: rotate($rot);
  -ms-transform: rotate($rot);
  transform: rotate($rot);
}

//shadow
@mixin box-shadow () {
	box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) !important;
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray !important;  
  font-size: 0.9rem;
  text-align: left;    
}

::-moz-placeholder { /* Firefox 19+ */
  color: $gray !important;  
  font-size: 0.9rem;
  text-align: left;    
}

:-ms-input-placeholder { /* IE 10+ */
  color: $gray !important;  
  font-size: 0.9rem;
  text-align: left;    
}

:-moz-placeholder { /* Firefox 18- */
  color: $blue !important;  
  font-size: 0.9rem; 
  text-align: left;   
}

input.form-control {
  @include border-radius (0px);
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.3rem .75rem;
  border-color: $blue;
  background: $white;
}

h1, h2, h3 ,h4, h5 {
  font-weight: 700;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
	font-family: 'Montserrat', sans-serif;
  background: $white;
}

section {
  p {
    color: $gray;
    text-align: justify;
  }
}

//Contact header
.contact-header {
  background-color: $gray;
  border-bottom: 4px solid $orange-2;  
  padding: 0.5rem 0;  
  .social-header {
    ul {
      li {
        display: inline-block;
        margin-left: 1.0rem;
        a {
          &:hover {
            fill: $orange-2;
          }
        }
      }
    }
  }
}

//chanels
.chanel {
  display: flex;
  align-items: center;
  color: $white;
  margin-right: 1.0rem;
  .icon {
    margin-right: 0.4rem;
  }
  p {
    margin-bottom: -2px;
    font-size: 0.7rem;
    color: $white;
  }
  a,
  span {
    color: $white;
    font-weight: 700;
  }
}

.contatos {
  display: flex;
  background-color: $gray;
  padding: 0.5rem;
  @include border-radius(2px);
}

//mapa
.mapa-or {
  iframe {
    width: 100%;
    height: 350px;
  }
}

//Navbar Client
.navbarClient {
  background-color: transparent !important;
  top: 60px;
  transition: all 0.2s;
  .navbar-brand {
    max-width: 220px;
    .logo-color {
      display: none;
    }
  }
  .chanel-mobile {
    display: none;
    align-items: center;
    background: $gray;
    color: $white;
    padding: 0.5rem;

    @include border-radius(4px);
    .icon {
      margin-right: 0.5rem;
    }
    p {
      margin-bottom: -3px;
      font-size: 0.7rem;
    }
    a {
      font-weight: 700;
      color: $white;
    }
  }
  .navbar-nav {
    .nav-link {
      color: $white;
      font-weight: 400;
      @include border-radius(4px);
      transition: all 0.2s;
      &:hover,
      &.active {
        color: $white;
        background: $orange;
        transition: all 0.2s;
      }
    }
  }
}

.header-default {
  &.fixed-top-or {
    .navbarClient {
      border-top: 4px solid $orange-2;
      background-color: $gray !important;
      top: 0px;
      @include box-shadow();

      transition: all 0.2s;
      .navbar-brand {
        max-width: 180px;        
      }
    }    
  }
}

.dropdown-item {
  &:active {
    background-color: $orange;
  }
}

//documentos
#documentos {
  .navbarClient {
    .navbar-brand {
      .logo-white {
        display: none;
      }
      .logo-color {
        display: block;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $gray;  
          &:hover {
            color: $white;
          }      
        }
        &:last-child{
          background: $orange;
          @include border-radius(4px);
        }
      }
    }
  }
  section {
    &.documentos {
      margin-top: 120px;
    }
    hr {
      background: $gray;
    }
  }
}
.grid-documentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card-doc-or {
    position: relative;
    display: flex;
    align-items: flex-end;
    border: 1px solid $orange;
    width: 280px;
    height: 120px;
    margin: 1.0rem 0;
    transition: all 0.2s;
    &:before {
      content: "";
      position: absolute;
      top: 0.8rem;
      right: 0.8rem;

      width: 32px;
      height: 32px;

      background-image: url(../images/download-icon.svg); 
      background-position: center center;
      background-repeat: no-repeat;
    }
    .title {
      font-weight: 300;
      font-size: 16px;
      padding: 0.8rem;
      color: $gray;
    }
    &:hover {
      transition: all 0.2s;
      text-decoration: none;
      background: $orange-2;
      .title {
        color: $white;
      }
    }
  }
}

//interna-or
.interna-or {
  .jumbotron {
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 280px;
    display: flex;
    align-items: flex-end;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba($color: $black, $alpha: 0.4)
    }
    .title {
      position: relative;
      font-weight: 300;
      text-transform: uppercase;
      color: $white;
      z-index: 3;
      &:after {
        content: "";
        display: block;
        position: absolute;
        margin-top: 52px;

        width: 160px;
        height: 38px;
        background: $orange;
      }
    }
    &.paiva {
      background-image: url(../images/obairro-head.webp);      
    }
    &.viver {
      background-image: url(../images/pra-viver-head.webp);      
    }
    &.verano {
      background-image: url(../images/verano-head.webp);      
    }
    &.peninsula {
      background-image: url(../images/peninsula-head.webp);      
    }
    &.terraco {
      background-image: url(../images/terraco-laguna-head.webp);      
    }
    &.vila-corais {
      background-image: url(../images/vila-corais-head.webp);      
      background-position: center center;
    }
    &.varanda {
      background-image: url(../images/varanda-head.webp);    
      background-position: center center;  
    }
    &.paradiso {
      background-image: url(../images/paradiso-head.webp);  
      background-position: center center;          
    }
    &.jardim-mar {
      background-image: url(../images/jardim-mar-head.webp);    
      background-position: center center;  
    }
  }
  .image-action {
    position: relative;
    margin-top: -150px;
    z-index: 3;
  }
}

//title-simple
.title-simple {  
  font-size: 1.2rem;
  color: $gray;
}

//diferencial
.diferencial {
  margin: 2.0rem 0;   
}

//list-or
.list-or {
  margin: 1.0rem 0;
  li {
    position: relative;
    color: $gray;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
    padding-left: 20px;
    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      background: $orange-2;
      left: 0;
      top: 2px;      
      width: 16px;
      height: 16px;      
      @include border-radius(100px);
    }
  }
}

//step
.step {
  display: block;
  width: 100%;
  height: 70px;
}

//galeria
.geleria {
  padding-bottom: 1.5rem;
  .gal {
    overflow: hidden;
    height: 240px;
    margin: 1.5rem 0;
    .row {
      justify-content: center;
    }
    .col-md-auto{
      img {
        width: 100%;
      }            
    }
    .col-md-3 {    
      img {
        width: 100%;
      }
    }
    .met {
      img {
        height: 120px;
      }        
    }    
  }  
}

//Plantas
.plantas {
  padding-bottom: 2.5rem;
  .gal-plantas {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;
  }
  .info {
    padding: 0.8rem;
    margin-top: 0.8rem;
    p {
      font-size: 0.8rem;
    }
  }
}

//Disclaimer
.disclaimer {
  margin: 0.5rem 0;
  p {
    font-size: 0.7rem;
  }
}

//Carousel
#carouselOr {
  .carousel-item {
    height: 725px;    
    background-position: center top;
    background-size: auto 660px;
    background-repeat: no-repeat;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 725px;    
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: $orange-2;
        width: 168px;
        height: 38px;
        bottom: 48px;
      }
      .bt-video {
        margin-top: 320px;
      }
    }
    .carousel-caption {
      position: relative;
      left: 0;
      text-align: left;
      h3 {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 50px;
        margin-bottom: 0;        
      }
      .sub-t {
        width: 250px;
        font-weight: 400;
        font-size: 22px;
      }
      .dest_2,
      .dest {
        span {
        background: $white;
        color: $gray;
        font-weight: 300;
        padding: 0.2rem;
        }
      }
      .dest_2 {
        margin-bottom: 0;
        span {
          font-size: 28px;
        }
      }
      .info {
        margin-top: 1.5rem;
        font-weight: 300;
        font-size: 1.5rem;
      }
      a {
        margin-top: 14px;
      }
    }
    &.sl-1 {
      background-image: url(../images/bg-imagem-slider.webp);      
    }
    &.sl-2 {
      background-image: url(../images/background-timeline.webp);     
    }
  }
}

//Historia Or
.historia-or {
  margin: 4.0rem 0;
  padding: 3.5rem 0;
  background-image: url(../images/background-timeline.webp);     
  background-position: center center;
  background-repeat: no-repeat;
}

//Footer
footer {
  background-color: $gray;
  border-top: 4px solid $orange-2;
  padding-top: 2.0rem;
  .logo {
    width: 245px;
    height: auto;
    padding: 1.5rem 0;
  }
  .desc-logo {
    color: $white;
    font-size: 13.6px;
  }
  .nav-footer {
    .head-nav {
      font-weight: 700;
      color: $white;
      padding-left: 2.0rem;      
      margin-top: 1.0rem;
    }    
    ul {
      padding-left: 2.0rem;
      li {
        a {
          color: $white;
          font-size: 0.9rem;
          transition: all 0.2s;
          &:hover {
            color: $orange-2;
            text-decoration: underline;
            transition: all 0.2s;
          }
        }
      }
    }
    &.social {
      .head-nav {
        font-weight: 400;
        color: $white;
        padding-left: 2.0rem;      
        font-size: 0.7rem;
        margin-top: 4.0rem;
      }
      ul {
        margin: 1.0rem 0;
        li {
          display: inline-block;
          margin: 0 1.0rem;
          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
    }
  }
  .copy {
    text-align: center;
    color: $white;
    margin-top: 2.0rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}

//Title OR style
.title-or-content {
  position: relative;
  padding-left: 28px;
  margin: 1.5rem 0;
  &:before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    width: 19px;
    height: 100%;
    background: $orange-2;
  }
  .title-style-or {
    color: $white;
    h3 {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 300;
    }    
    p {
      background: $gray;
      color: $white;
      display: table;
      font-weight: 300;
      padding: 0.2rem;
    }
  }
}

strong {
  font-weight: 700;
  color: $gray;
}

//Title sections
.title-sections {
  margin-bottom: 1.5rem;
  h3 {
    color: $gray;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 0;
  }
  .sub {
    position: relative;
    span {
      background-color: $gray;
      color: $white;
      font-weight: 300;
      padding: 0.2rem;
      margin-right: 1.0rem;
    }
    &:after {
      content: "";
      background: $orange;
      display: block;
      width: 55px;
      height: 5px;
      margin-top: 0.5rem;
    }
  }
  &.v2{
    h3 {
      font-size: 28px;
      margin-bottom: 0.5rem;
    }    
    .sub {
      span {
        background-color: transparent;
        color: $gray;
      }
    }
  }
  &.v3{
    h3 {
      font-size: 28px;
      margin-bottom: 0.5rem;
      &:after {
        content: "";
        background: $orange;
        display: block;
        width: 55px;
        height: 5px;
        margin-top: 0.5rem;
      }
    }    
  }
}

//Reserva carousel
.reserva-carousel {
  margin: 5.0rem auto;
  background-color: $gray-2;
  padding: 3.0rem 0;
  &.v2 {
    background-color: transparent;
    margin: 2.0rem auto;
  }
}

//link-slider
.link-slider {
  color: $white;
  transition: all 0.2s;
  .card {
    position: relative;    
    height: 398px;  
    .imagem {
      position: absolute !important;          
      z-index: 1;
      width: 100%;
      height: auto;
    }
    .text {
      position: absolute !important;          
      z-index: 3;
      left: 10px;
      bottom: 20px;
      h3 {
        margin-bottom: 0;
        text-transform: uppercase;
      }
      .sub {
        background: $gray;
        display: table;
        font-weight: 300;
        padding: 0.2rem;
      }
    }
    &:before {
      content: "";
      background:rgba($color: $black, $alpha: 0.6);
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all 0.2s;
    }    
  }
  &:hover {
    transition: all 0.2s;
    color: $white;
    .card {
      &:before {
        background:rgba($color: $orange, $alpha: 0.6);
        text-decoration: none;
        transition: all 0.2s;
      }
    }
  }
}

//Actions 
.actions {
  padding-top: 1.0rem;
  a {
    margin-right: 1.0rem;
  }
}

//Mais Or Marca
.mais-or {
  margin: 4.0rem 0;  
  background-image: url(../images/background-timeline.webp);     
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $gray;
  .title {
    font-weight: 300;
    color: $gray;
  }
}

//CTA
.cta {
  margin: 2.5rem 0;
  padding: 1.8rem 0;
  background-image: url('../images/background-cta-default-or.webp');
  background-position:  center center;
  background-repeat:  no-repeat;
  background-size: cover;
  .action {
    margin-left: auto;
  }
}

//Newsletter 
.newsletter {
  .content {
    position: relative;
    padding-left: 28px;
    margin: 2.5rem 0;
    &:before {
      position: absolute;
      display: inline-block;
      content: "";
      top: 0;
      left: 0;
      width: 19px;
      height: 100%;
      background: $orange-2;
    }
  }
  .email_news {
    max-width: 390px;
  }
  .news-title {    
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;    
  }
}


//Media Queries
@import 'client_style_queries.scss';